<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
		integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
		integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css"
		integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
<script>
    const user = JSON.parse(`<%- JSON.stringify(user)%>`)
    const data = JSON.parse(`<%- JSON.stringify(data)%>`)
    const cloudinary = JSON.parse('<%- JSON.stringify(cloudinary)%>')

        //console.log(cloudinary.preset);
</script>
<%- include('components/header.ejs') %>
<script>
       var image = data.profilePic
     const uploadImage2 = async() => {
     
            const input = document.querySelector('.drop-zone__input');
            console.log(input);
            const formdata = new FormData();
            if (!input.files[0]) {
                alert("Please upload an image")
                return
            }
            formdata.append('file', input.files[0]);
            formdata.append('upload_preset', cloudinary.preset);
            formdata.append('public_id', `users/${user.id}${Math.floor(Math.random() * 1000000000)}`);
            formdata.append('api_key', cloudinary.apiKey);
            const res = await fetch(`https://api.cloudinary.com/v1_1/${cloudinary.name}/image/upload`, {
                method: 'POST',
                body: formdata
            });
            const file = await res.json();
            if (file.secure_url) {
                document.querySelector(".image-container").innerHTML = `<img src=${file.secure_url} alt=${file.asset_id}>`
            }
            console.log(file);
            image = file.secure_url;
        }
    const editProfile =async ()=>
    {
        const input = document.querySelector('.drop-zone__input');
        
            if (input.files[0]) {
                await uploadImage2()

            }
        axios.post(`/users/${data._id}/editUser`, {
            name:document.querySelector("#name").value,
            email:document.querySelector("#email").value,
            role : document.querySelector("#role") ?  document.querySelector("#role").value: "blogger",
            profilePic : image
        })
                .then(function(response) {
                    if (response.status == 200) {
                       
                        window.location.href = `/users/profile/${data._id}`
                    }
                })
                .catch(function(error) {
                    if (error.response) {
                        swal(error.response.data.error, "Please try again!", "error");

                    }
                });
    }
</script>
<style>
    .drop-zone {
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #01D28E;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

</style>
    <body>
        <%- include('components/navbar.ejs') %>
            <!-- <h2> Name :<input type="text" id="name" value="<%= data.name%>"> </h2>
            <div class="image-container"> <img src="<%=data.profilePic%>" alt="txt"></div>
           
            <input type="file" name="image" id="image">
            <p>Email : <input type="email" id="email" value="<%= data.email%>"> </p>
            <p>Account Type : <%= data.role%></p>
            <% if(user.role == "admin"){%>
                <input type="text" id="role" value="<%=data.role%>">
                <%}%>
           <button onclick="editProfile()">Save Changes</button> -->
           <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="wrap">
                            <div class="img" style="background-image: url('<%=data.profilePic%>');"></div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Edit Profile</h3>
                                    </div>
    
                                </div>
                                <form action="#" class="signin-form">
                                    <div class="form-group mt-3 d-flex justify-content-center">
                                        <div class="drop-zone">
                                            <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                            <input type="file" name="myFile" class="drop-zone__input">
                                          </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="text" id="name" class="form-control" value="<%= data.name%>" required>
                                        <label class="form-control-placeholder" for="name">Name</label>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="email" id="email" class="form-control" value="<%= data.email%>" required>
                                        <label class="form-control-placeholder" for="email">Email</label>
                                    </div>
                                    <% if(user.role == "admin"){%>
                                        <div class="form-group mt-3">
                                            <input type="text" id="role" class="form-control" value="<%=data.role%>" required>
                                            <label class="form-control-placeholder" for="role">Account type</label>
                                        </div>
                                    <%}%>   
                                    <div class="form-group">
                                        <button type="button" class="form-control btn btn-primary rounded  px-3"
                                            onclick="editProfile()">Save Changes</button>
                                    </div>
                                </form>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>