<!DOCTYPE html>
<html lang="en">
    <title>Edit Post | Webie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
		integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
		integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css"
		integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
<script>
    const user = JSON.parse(`<%- JSON.stringify(user)%>`)
        //console.log(cloudinary.preset);
    const cloudinary = JSON.parse('<%- JSON.stringify(cloudinary)%>')

    const data = JSON.parse(`<%- JSON.stringify(data)%>`)
</script>
<%- include('components/header.ejs') %>
    <script>
        var image = data.image
        window.addEventListener("load", (event) => {
            document.querySelector(".image-container").innerHTML = `<img src=${data.image} alt = "txt">`
            document.querySelector("#title").value = data.title
            document.querySelector("#content").value = data.content
            document.querySelector('#selectInput').value = data.tag
        });
        const uploadImage2 = async() => {
            const input = document.querySelector('.drop-zone__input');
            const data = new FormData();
            if (!input.files[0]) {
                alert("Please upload an image")
                return
            }
            data.append('file', input.files[0]);
            data.append('upload_preset', cloudinary.preset);
            data.append('public_id', `posts/${user.id}${Math.floor(Math.random() * 1000000000)}`);
            data.append('api_key', cloudinary.apiKey);
            const res = await fetch(`https://api.cloudinary.com/v1_1/${cloudinary.name}/image/upload`, {
                method: 'POST',
                body: data
            });
            const file = await res.json();
            
            //console.log(file.secure_url);
            image = file.secure_url;
        }
        const editPost = async() => {
            const input = document.querySelector('.drop-zone__input');
            if (input.files[0]) {
                await uploadImage2()

            }
            const body = {
                title: document.querySelector("#title").value,
                author: user.id,
                content: document.querySelector("#content").value,
                image,
                tag: document.querySelector('#selectInput').value,
                createdAt: new Date(),
            }
            console.log(body);
            axios.post(`/posts/${data._id}/editPost`, body)
                .then(function(response) {
                    if (response.status == 200) {
                        alert(response.data.msg)
                        window.location.href = `/posts/${data._id}`
                    }
                })
                .catch(function(error) {
                    if (error.response) {
                        alert(JSON.stringify(error.response.data.error));

                    }
                });
        }
    </script>
<style>
    .drop-zone {
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #01D28E;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

</style>
    <body>
        <%- include('components/navbar.ejs') %>
            <!-- <h2>Edit Blog</h2>
            <form action="" method="post">
                <div class="image-container">
                </div>
                <span>Choose image : </span> <input type="file" name="image" id="image">
                <span>Enter Title : </span><input type="text" name="title" id="title">
                <span>Enter content : </span><input type="text" name="content" id="content">
                <span>Tags</span><select id="selectInput" name="selectInput" size="6">
                        <option value="Tech">Tech</option>
                        <option value="Food">Food</option>
                        <option value="Space">Space</option>
                        <option value="News">News</option>
                        <option value="Politics">Politics</option>
                        <option value="Education">Education</option>
                      </select>
                <button type="button" onclick="editPost()">Edit</button>
            </form> -->

            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            <div class="wrap">
                                <div class="img" style="background-image: url('<%= data.image %>');"></div>
                                <div class="login-wrap p-4 p-md-5">
                                    <div class="d-flex">
                                        <div class="w-100">
                                            <h3 class="mb-4">Edit Blog</h3>
                                        </div>
        
                                    </div>
                                    <form action="#" class="signin-form">
                                        <div class="form-group mt-3 d-flex justify-content-center">
                                            <div class="drop-zone">
                                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                                <input type="file" name="myFile" class="drop-zone__input">
                                              </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" id="title" class="form-control" value="<%= data.title %>" required>
                                            <label class="form-control-placeholder" for="title">Title</label>
                                        </div>
                                        <div class="form-group mt-3">
                                            <textarea id="content" class="form-control" value="<%= data.content %>" required></textarea>
                                            <label class="form-control-placeholder" for="content">Content</label>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" id="selectInput" class="form-control" value="<%= data.tag %>" required>
                                            <label class="form-control-placeholder" for="selectInput">Tag</label>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="form-control btn btn-primary rounded submit px-3"
                                                onclick="editPost()">Save</button>
                                        </div>
                                    </form>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>

</html>